* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --fs-xl: 2rem;
  --fs-lg: 1.25rem;

  --ff-primary: "Inter", sans-serif;
  --ff-secondary: "Berkshire Swash", cursive;
  --ff-tertiary: "Josefin Sans", sans-serif;

  --bg-primary: linear-gradient(150deg, #ffffff, #722e43);
  --bg-secondary: #722e43;
  --box-color: rgba(255, 255, 255, 0.3);
}

body {
  background: var(--bg-primary);
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 1800px;
  padding: 1rem;
  margin-inline: auto;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
