header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-height: 80px;
  background-color: #722e43;
  background-size: cover;
  color: white;
}

.header-image {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0px;
  padding: 0;
  z-index: 1;
}

.nav-links {
  gap: 3rem;
  margin-right: 5rem;
}

header img {
  width: 70px;
  height: 70px;
}

header article {
  margin-left: 4rem;
}
