header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #7c2843;
  background-size: cover;
  color: white;
}

.nav-links {
  gap: 1rem;
}

header img {
  width: 40px;
  height: 40px;
}
